<section class="phrases-container">
    <div class="words-container">
        <span class="words">I</span>
        <span class="words random-words">{{firstWord}}</span>
        <span class="words">to</span>
        <span class="words random-words">{{secondWord}}</span>
        <span class="words random-words">{{thirdWord}}</span>
        <span class="words random-words">{{fourthWord}}</span>
    </div>
    <button (click)="randomPhrase()" class="generate-phrase">Generate Phrase</button>
</section>